entrypoint = "main.py"
run = ["sh", "-c", "npm run dev & python main.py"]
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
deploymentTarget = "gce"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "python main.py"]


[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 8080
